

.titre {
	text-align: center;

}
*{
	background-color: white;
	font-family: Open Sans; 
} 
.done {

	text-decoration:line-through; 

}
input {
	size: 200;

	}


	
	}
}
*{
	background-color: green;
	font-family: Open Sans; 
} 
.done {

	text-decoration:line-through; 

}
input {
	size: 200;

	}

	
	}
#toDo {

	display: flex;
	flex-direction: column;
	}

#done {

	display: flex;
	flex-direction: column;
	}

